body {
    background-color: rgb(43, 181, 206);
    font-family: arial;
    color: white;
    font-size: 4rem;

    margin: 0;
    padding: 0;
    footer {
        background-color: aliceblue;
        min-height: 100px;
        width: 100vw;
    }
}
